.full-page-container {
    min-width: 100vw;
    min-height: 100vh;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.clue {
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #f0f0f0;
    background-color: #f0f0f0;
    background-color: rgba(255, 255, 0, 0.3);
}

.fade-background {
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    from {
        background-color: rgba(255, 255, 0, 0.3);
        /* light yellow with low opacity */
    }

    to {
        background-color: inherit;
        /* normal background color */
    }
}

.clue.mine {
    background-color: lightblue;
}


.table-container {
    max-width: 800px;
    margin: 20px auto;
}

.button-cell {
    margin: 5px;
}

.button-cell button {
    width: 100%;
    transition: background-color 0.3s, transform 0.2s;
}

.button-cell button:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-cell button:active {
    transform: translateY(1px);
}

.form-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

@media (max-height: 600px) {
    .clue {
        padding: 4px;
        margin: 0px;
        font-size: 10px;
    }

    .table-container {
        width: 100%;
        overflow-x: auto;
    }

    .button-cell {
        padding: 0 !important;
    }

    .button-cell button {
        font-size: 10px;
        padding: 8px !important;
    }

    .game-container {
        padding: 2px;
    }

    .game-container .MuiTypography-h4 {
        font-size: 1.5rem;
    }

    .game-container .MuiTypography-h5 {
        font-size: 1.2rem;
    }

    .game-container .MuiButton-root {
        font-size: 0.8rem;
        padding: 6px 12px;
    }

    .game-container {
        width: 100%;
    }

    .game-container .MuiTableCell-root {
        padding: 0px;
    }

    .game-container .MuiTableCell-root button {
        padding: 2px;
        font-size: 10px;
    }
}